<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Apicela"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/draven"
        android:label="@string/app_name"
        android:roundIcon="@drawable/draven"
        android:supportsRtl="true"
        android:theme="@style/Theme.ApicelaTraining"
        tools:targetApi="31">
        <activity
            android:name=".ExecutionActivity"
            android:exported="false" />
        <activity
            android:name=".createActivity.CreateDivision"
            android:exported="false" />
        <activity
            android:name=".AddExerciseActivity"
            android:exported="false" />

        <activity
            android:name=".DivisionActivity"
            android:exported="false" />
        <activity
            android:name=".createActivity.CreateWorkout"
            android:exported="false" />
        <activity
            android:name=".createActivity.CreateExercise"
            android:exported="true"
            android:label="@string/title_activity_create_exercise"
            android:theme="@style/Theme.ApicelaTraining" />
        <activity
            android:name=".ExerciseActivity"
            android:exported="false" />
        <!--        <activity-->
        <!--            android:name=".CalendarFragment"-->
        <!--            android:exported="false"-->
        <!--            android:theme="@style/Theme.Training" />-->
        <activity
            android:name=".HomeActivity"
            android:exported="true"
            android:theme="@style/Theme.ApicelaTraining">

            <!-- Removendo android:label para ocultar o nome do ícone de lançamento -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>